$background-color:#efe9e7;
$text-color:#391f0c;



html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 0;
    left: 0;
    h1 {
        font-size: 24px;
        font-weight: bold;
        color: white;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 42px;
    }
}

.list {
    display: flex;
    padding-top: 18px;
    padding-bottom: 18px;
    a {
        font-size: 20px;
        text-decoration: none;
        color: white;
        padding-right: 30px;
    }
}

.banner {
    display: flex;
    img {
        max-width: 100%;
    }
}

.bannerIntro {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 28px;
    h2 {
        font-size: 34px;
        padding: 20px 42px 16px 22px;
    }
    p {
        font-size: 20px;
        line-height: 32px;
    }
}

.content {
    background-color: $background-color;
}

/* footer start */
.footer {
    background-color: $background-color;
    display: flex;
    justify-content: space-around;
    color: $text-color;
    padding-top: 20px;
    li {
        max-width: 34%;
    }
    h2 {
        font-size: 32px;
    }
    p,
    ul {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.contact {
    list-style: disc;
    padding-left: 20px;
}

.social {
    display: flex;
    justify-content: flex-end;
    li {
        padding: 8px;
    }
}

/* footer end */
