@import "./layout";
@import "./reset";
@import "./cart";

/* feature start */
.feature{
    display: flex;
    flex-direction: column;
    background-color: #efe9e7;
    justify-content: center;  
    color:$text-color ;
}

.feature h2{
    margin:20px auto;
    font-size: 28px;
    position: relative;
}

.feature h2:before{
    content:"";
    display: block;
    width: 120px;
    height: 2px;
    background-color:#BCB5AF;
    position: absolute;
    left:-38%;
    top:50%;
}

.feature h2:after{
    content:"";
    display: block;
    width: 120px;
    height: 2px;
    background-color: #BCB5AF;
    position: absolute;
    right:-38%;
    top:50%;
}

.featureList{
    display: flex;
    padding:20px 60px;
}

.featureList li{
    text-align: center;
    padding: 20px;
}

.featureList img{
    border-radius: 100%;   
}

.featureList h3{
    font-size: 24px;
    padding:18px 0;
}

.featureList li p{
    text-align: start;
    line-height: 18px;
    padding:10px 0;
}
/* feature end */

/* chef start */
.chef{
    display: flex;
    background-color: #6B2402 ;
}

.chef img{
    padding-left:42px;
}

.chefInfo{
    margin:80px 20px;
    color:white;
}

.chefInfo h3{
    font-size: 32px;
    padding-bottom: 5px;
}

.chefInfo h4{
    margin-bottom: 20px;
    font-size: 18px;
}

.chefInfo p{
    line-height: 25px;
    font-size: 18px;
}
/* chef end */

/* feedback start */
.feedback{
    display: flex;
    flex-direction: column;
    text-align: center;
    color:#321D12 ;
    padding: 50px 0;
}

.feedback h2{
    padding-bottom:28px;
    font-size: 32px;
}

.feedbackList{
    display: flex;
    text-align: start;
    justify-content: center;
}

.feedbackList li{
    display: flex;
    align-items: flex-start;
    padding: 0 10px;
    width: 30%;
}

.feedbackList img{
    border-radius: 100%;
}

.comment{
    padding-left:10px;
}

.comment p:nth-child(1){
    font-size: 22px;
    margin-top: 20px;
}

.comment p:nth-child(2){
    margin: 26px 0;
    line-height: 22px;
    font-size: 20px;
}

.comment p:nth-child(3){
    margin-top:10px;
    text-align: end;
    font-size: 20px;
}
/* feedback end */

/* reservation start */
.reservation{
    background-color: #F8F6F5 ;
}

.reservation p{
    text-align: center;
    padding:30px 0;
    font-size: 32px;
    color: #321D12;
}

.mapItem{
    display: flex;
}

.map{
    margin-left:42px;
    margin-bottom: 50px;
}

.form{
    width: 50%;
    margin-left:20px;
}

.form label{
    font-size: 18px;
    color:#321D12;
}

.form input{
    width:90%;
    margin:10px 0;
    border-radius: 3px;
    border: 1px solid #D2D1D1;
    height:25px;
}

.radio{
    display: flex;
    justify-content: flex-start;
    max-width: 20%;
    margin-top: 10px;
}

input[type="radio"]{
    margin: 0;
    height: auto;
}

.buttons{
    width:90%;
    text-align: end;
    margin-top:60px;
}

.buttons button{
    border:0;
    border-radius: 3px;
    font-size: 12px;
    padding:6px 0;
    width: 70px;
    height: 32px;
}

.buttons button[type="reset"]{
    background-color: #DAD4D1;
}

.buttons button[type="submit"]{
    background-color:#FD8215;   
}
/* reservation end */




